body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
}


.form-box {
    background-color: #ffffff; /* nền trắng cho ô */
    border: 1px solid #ccc;   /* viền xám nhẹ */

    padding: 40px;            /* khoảng cách giữa viền và nội dung */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* bóng nhẹ cho nổi */
    margin-top: 5px;         /* cách tiêu đề h5 */
    width: 80%;
    border-radius: 10px;
}
.form-row {
    display: flex;
    gap: 20px;       /* khoảng cách giữa 2 ô */
    margin-bottom: 15px; /* khoảng cách giữa các hàng */

}

.form-row .form-group {
    flex: 1;           /* chiếm đều phần còn lại (50% nếu 2 ô) */
    display: flex;
    flex-direction: column; /* label trên input */

}
.form-row .form-group input {
    padding: 10px 12px;      /* tăng padding cho input */
    font-size: 15px;          /* chữ to hơn */
    height: 40px;             /* chiều cao ô */
    border: 1px solid #ccc;   /* viền nhẹ */
    border-radius: 6px;       /* bo góc */
    box-sizing: border-box;   /* tính padding vào width */
}
.form-container h4 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;

}
.btn {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn-login {
    background: #4d6ef0;
    color: white;
}
.btn-google {
    background: white;
    border: 1px solid #ccc;
}
.btn-facebook {
    background: #3b5998;
    color: white;
}
.create-account {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    color: #4d6ef0;
    text-decoration: none;
    text-align: center;
}
.create-account:hover {
    text-decoration: underline;
}
.name,
.email,
.pass,
.pass-again{
    background-color: #e3f0fb;
}
